.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html,body,section {
    height: 100%;
    width: 100%;
    font-size: 10px;
    position: relative;
}
@media (max-width: 550px) {
    body {
        background: #FFF url('/modules/core/img/narrow-leveque-bck.jpg') no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 551px) {
    body {
        background: #FFF url('/modules/core/img/wide-cbus-bck.jpg') no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}