html {
    height: 100%;
    width: 100%;
}
@media (max-width: 550px) {
    body {
        background: #FFF url('/modules/core/img/narrow-leveque-bck.jpg') no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 551px) {
    body {
        background: #FFF url('/modules/core/img/wide-cbus-bck.jpg') no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}